{* !!! INCLUDE ACCESS KEY ONLY ON SECURED PAGES !!!! *}
<script>
    var filemanager_basePath = {$basePath};
    var filemanager_title = 'Správce souborů';
    var filemanager_accessKey = ''; {* !!! INCLUDE ACCESS KEY ONLY ON SECURED PAGES !!!! *}
    var filemanager_removeTitle = 'Odebrat';
</script>
<script src="{$basePath}/js/filemanager.js"></script>
