<script>
    var filemanager_basePath = {$basePath};
    var filemanager_title = 'Správce souborů';
    var filemanager_accessKey = 'admin';
    var filemanager_removeTitle = 'Odebrat';
</script>
<script src="{$basePath}/js/filemanager.js"></script>
<script src="{$basePath}/js/bootbox.min.js"></script>
